.form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
  }

.tab-buttons {
    display: flex;
    margin: 20px 0px 0px 0px;
}

.tabe.active, .tabp.active {
    background: #007bff; /* Change this to your desired active tab color */
    color: #fff;
    border: 1px solid #007bff;
}

.tabe {
    margin-left: 5px;
    border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

.tabp {
    margin-right: 40%;
    border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

.tabe:hover, .tabp:hover {
    background: #007bff; /* Change this to your desired tab hover color */
    border: 1px solid #bbb;
    color: #fff;
}

.auth-form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .login-title {
    font-size: 24px;
    margin: 10px 0 0 20px;
  }
  .login-form {
    margin: 15px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
    margin:5px;
    padding:0px 20px 20px 20px;
  }
  .link-btn { /* Change this to your desired link color */
    text-decoration: underline;
    cursor: pointer;
  }

 .submit {
    margin-top: 20px;
 }

 .passin {
    margin-bottom: 10px;
 }

 .titlee {
    border-bottom: #ccc solid 1px;
    padding-bottom: 20px;
    text-align: center;
 }